@model IEnumerable<Proiect.Models.RestaurantViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Food Items Statistics";
}
<h2>Ordered Food Items Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Food Items
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.
            </td>
        </tr>
    }
</table>