@model Proiect.Models.Chef

@{
    ViewData["Title"] = "Edit Chef Info";
}

<h1>Edit Chef Info</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ChefName" class="control-label"></label>
                <input asp-for="ChefName" class="form-control" />
                <span asp-validation-for="ChefName" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <div class="col-md-offset-2 col-md-10">
                    <table>
                         <br />
                            <tr>
                            @{
                                int cnt = 0;
                                List<Proiect.Models.RestaurantViewModels.CreatedFoodData> foods = ViewBag.Foods;
                                foreach (var food in foods)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                    <input type="checkbox" name="selectedFoods" value="@food.FoodID" @(Html.Raw(food.IsCreated ? 
                                        "checked=\"checked\"" : "")) /> @: @food.Name
                                        @:</td>
                                }
                                @:</tr>
                            }
                    </table>
                 </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save Chef" class="btn btn-primary" /> |
                <a asp-action="Index">Back to Chef List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
